@use '../lib-print' as lib;

$border-radius-sm: 2pt;

$color-onyx: #373737;
$color-bright-light: #e7eff2;
$color-ateneo-blue: #004562;
$color-primary: #366cb6;
$color-reverse-primary: #FFF;
$color-border-table: #c4c9d4;
$color-text-table: #222222;
$color-section-title: #222222;
$color-light-background: #F6F7F8;
$font-family: Inter, sans-serif;
